<!DOCTYPE html>
<html>
  <head>
    <title>Quates Registrations</title>
  </head>
  <body>
    <style>
      .total {
        width: 100%;
        text-align: center;
      }
      .table-wrapper {
        margin-top: 1rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      col:nth-child(odd) {
        background-color: #ededed;
      }
      col:nth-child(even) {
        background-color: #d7d7d7;
      }
      th {
        text-align: left;
        min-width: 5rem;
        padding: 0.3rem 0.5rem;
      }
      td {
        padding: 0.3rem 0.5rem;
      }
    </style>
    <div class="total">
      Total Registrations: {{ .total }}
    </div>
    <div class="table-wrapper">
      <table>
        <colgroup>
          <col>
          <col>
          <col>
          <col>
          <col>
        </colgroup>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>College ID</th>
            <th>E-Mail</th>
            <th>Phone Number</th>
          </tr>
        </thead>
        <tbody>
          {{ range .registrations }}
            <tr>
              <td>{{ .ID }}</td>
              <td>{{ .Name }}</td>
              <td>{{ .CollegeID }}</td>
              <td>{{ .Email }}</td>
              <td>{{ .Phone }}</td>
            </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
  </body>
</html>
